@font-face {
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

* {
  font-family: "open-sans", "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.rain-sky {
  background-image: url(../images/rain-sky.svg);
  background-position: top center;
  background-size: cover;
}
.drizzle-sky {
  background-image: url(../images/Drizzle.jpg);
  background-position: top right;
  background-size: cover;
}
.blizzard-sky {
  background-image: url(../images/blizzard.jpg);
  background-position: center center;
  background-size: cover;
}
.mist-sky {
  background-image: url(../images/mist-sky.jpg);
  background-position: top left;
  background-size: cover;
}
.overcast-sky {
  background-image: url(../images/overcast-sky.jpg);
  background-position: top left;
  background-size: cover;
}
.thunder-sky {
  background-image: url(../images/thunder-sky.png);
  background-position: top left;
  background-size: cover;
}
.sleet-sky {
  background-image: url(../images/sleet.svg);
  background-position: top left;
  background-size: cover;
}
.cloudy-sky {
  background-image: url(../images/cloudy.jpg);
  background-position: center center;
  background-size: cover;
}
.clear-sky,
.sunny-sky {
  background-image: url(../images/clear-sky.jpg);
  background-position: center center;
  background-size: cover;
}
.contrast-white {
  color: white;
  filter: drop-shadow(5px 5px 8px black);
}

nav .nav-item > a.active {
  border-radius: 5%;
  border-bottom: black solid 3px;
}

nav .nav-item:hover :not(.active) {
  border-radius: 5%;
  border-bottom: black solid 3px;
}

#floatingSearch {
  position: relative;
  border: transparent;
  outline: none;
}

#floatingSearch:focus {
  border: transparent;
  outline: none !important;
}
#searchBtn {
  background: black;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: transparent;
}

.my-loader {
  background-color: rgba(231, 231, 231, 0.574);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 100;
}
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
  animation: scale50 1s infinite ease-in-out;
}
.loader::before {
  top: auto;
  bottom: 0;
  background-color: #ff3d00;
  animation-delay: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale50 {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.alert-danger {
  z-index: 100;
}
.degree span.my-degree {
  font-size: 7rem;
  font-weight: bold;
}
.degree span.my-degree + span {
  font-size: 4rem;
}

i.fa-location-arrow {
  font-size: 2.8rem;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

footer .icons {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer .icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: black 1px solid;
  transition: all 0.3s;
}
footer .icons .icon > i {
  font-size: 1.2rem;
  transition: all 0.3s;
}

footer .icons .icon:hover {
  background-color: black;
  color: white;
}

footer button {
  background-color: black !important;
  border: black !important;
}

@media (min-width: 1140px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
