@font-face {
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

* {
  font-family: "open-sans";
  box-sizing: border-box;
}

@media (min-width: 1140px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
